:root{
    --cor-nav-bar: linear-gradient(90deg, rgba(250,245,245,1) 0% , rgba(66,133,244,1) 15%, rgba(219,68,55,1) 40%, rgba(244,180,0,1) 75%, rgba(51,167,86,1) 100%);
    --cor-background: radial-gradient(circle, rgba(1,232,74,1) 0%, rgba(182,210,230,1) 100%);
    --cor-texto: white;
    --cor-titulo: white; 
   
   }
   