*{
    margin: 0;
    bottom: 0;
    color: var(--cor-texto);
    
}
body{
    background: var( --cor-background);
}
.bar {
    display: flex;
    align-items: center;
    background: var(--cor-nav-bar);
    padding: 1%;
    
    
  }
  img{
    height: 10vh;
    width: auto;
  }
  
  .logo {
    margin-right: auto;
  }
  
  .paginas {
    margin-left: auto; 
    list-style: none;
    padding: 0;
  }
  
  .paginas li {
    display: inline-block;
    margin: 0 10px; 
  }
  nav p{
    text-align: center;
    background-color: black;    
  }
  
  
  
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10% ;
    margin-left: 5%;
    margin-right: 5%;
    
  }
  main p {
    text-align:justify;
    padding: 5px 40px; 
    
    
  }
  
  h1 {
    text-align: center;
    color: var(--cor-titulo)
  }
a  {
    text-decoration: none;
    color: aliceblue;
    
}