
div{
    width: 600px;
    height: 300px;
    margin:5px;
    
    
}
#box1{
    display: inline-block;
    background-color: aquamarine;
}
#box2{
    background-color: blue;
    display: inline-block;
}
#box3{
    display: inline-block;
    background-color: brown;
}