* {
    margin: 0;
    border: 0;
    padding: 0;
    
  }
  body{
    background-color: #0F0A0A;
  }
  

 
  header {
    background-color: #5DA9E9;
    color: #EAC4D5;
    padding: 20px;
  }
  .wrapper {
    display: flex;
    
    

  }
  .icons{
text-align: center;
font-size: 30px;
color: #2708A0;
  }
  
  main {
    
    background-color: #0F0A0A;
    color: #EAC4D5;
   padding: 20px;
    overflow: auto; 
  }
  main img{
    width: 100%;
  }
  article {
    
    padding: 20px;
    background-color: #B0FE76;    
    overflow: auto; 
    width: 30%;
  }
  article img{
    width: 100%;
    height: auto;
    margin: auto;
  }
  footer {
    background-color: #5DA9E9;
    color: #2708A0;
    text-align: center;
    padding: 10px;
    
   
  }
